SG0.InnerLoop.Gridsize 100
SG0.InnerLoop.PatternSearch.Size 9
SG0.InnerLoop.PatternSearch.Stepsize 0.05
SG0.InnerLoop.PatternSearch.nSteps 7
SG0.InnerLoop.MCsamples 70000

SG0.OuterLoop.Gridsize 100
SG0.OuterLoop.PatternSearch.Size 9
SG0.OuterLoop.PatternSearch.Stepsize 0.05
SG0.OuterLoop.PatternSearch.nSteps 9
SG0.OuterLoop.MCsamples 100000

SG0.verificationstep.Gridsize 100
SG0.verificationstep.PatternSearch.Size 9
SG0.verificationstep.PatternSearch.Stepsize 0.05
SG0.verificationstep.PatternSearch.nSteps 9
SG0.verificationstep.MCsamples 200000

SG1.InnerLoop.Gridsize 100
SG1.InnerLoop.PatternSearch.Size 3
SG1.InnerLoop.PatternSearch.Stepsize 0.1
SG1.InnerLoop.PatternSearch.nSteps 7
SG1.InnerLoop.MCsamples 70000

SG1.OuterLoop.Gridsize 100
SG1.OuterLoop.PatternSearch.Size 3
SG1.OuterLoop.PatternSearch.Stepsize 0.1
SG1.OuterLoop.PatternSearch.nSteps 9
SG1.OuterLoop.MCsamples 100000

SG1.verificationstep.Gridsize 100
SG1.verificationstep.PatternSearch.Size 3
SG1.verificationstep.PatternSearch.Stepsize 0.1
SG1.verificationstep.PatternSearch.nSteps 9
SG1.verificationstep.MCsamples 200000

maxiters 100
epsilon 0.0001

efficiency 0.2
nBidders 3
minCost 1.0
maxCost 2.0
wMax 0.1
wMin 0.001
