SG0.InnerLoop.Gridsize 200
SG0.InnerLoop.PatternSearch.Size 3
SG0.InnerLoop.PatternSearch.Stepsize 0.1
SG0.InnerLoop.PatternSearch.nSteps 9
SG0.InnerLoop.MCsamples 100000

SG0.OuterLoop.Gridsize 200
SG0.OuterLoop.PatternSearch.Size 3
SG0.OuterLoop.PatternSearch.Stepsize 0.1
SG0.OuterLoop.PatternSearch.nSteps 9
SG0.OuterLoop.MCsamples 100000

SG0.verificationstep.Gridsize 200
SG0.verificationstep.PatternSearch.Size 3
SG0.verificationstep.PatternSearch.Stepsize 0.1
SG0.verificationstep.PatternSearch.nSteps 9
SG0.verificationstep.MCsamples 100000

SG1.InnerLoop.Gridsize 200
SG1.InnerLoop.PatternSearch.Size 3
SG1.InnerLoop.PatternSearch.Stepsize 0.1
SG1.InnerLoop.PatternSearch.nSteps 9
SG1.InnerLoop.MCsamples 100000

SG1.OuterLoop.Gridsize 200
SG1.OuterLoop.PatternSearch.Size 3
SG1.OuterLoop.PatternSearch.Stepsize 0.1
SG1.OuterLoop.PatternSearch.nSteps 9
SG1.OuterLoop.MCsamples 100000

SG1.verificationstep.Gridsize 200
SG1.verificationstep.PatternSearch.Size 3
SG1.verificationstep.PatternSearch.Stepsize 0.1
SG1.verificationstep.PatternSearch.nSteps 9
SG1.verificationstep.MCsamples 100000

maxiters 150
epsilon 0.0001

payrule second
minValLocal 0.0
maxValLocal 1.0
minValGlobal 0.0
maxValGlobal 2.0

nrounds 2
nBidders 3
wMin 0.001
wMax 0.08
